* {
    box-sizing: border-box;
 }

.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
 }

.NameLog {
   text-align: center;
}

.BtnToLogin {
    display: block;
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
 }